@import url('https://fonts.googlepis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
*{
    margin:0px;
    padding:0px;
    box-sizing:border-box;
    font-family:'Roboto',sans-serif;
}
body{
	background-image: url('C:/Users/dell/Downloads/pexels-pok-rie-239659.jpg');
	background-color: yellow;
	background-size: cover;
}

 .container{
    width:85%;
    margin:auto;
color:white;
}
nav{
    height:80px;
}

nav ul{
    float:right;
    Line-height:80px;
}
nav ul li{
    display: inline-block;
    List-style: none;
    padding:0px 5px;
}
nav ul li a{
    color:black;
    text-decoration:none;
    text-trasform:uppercase;
    border-radius:5px;
    padding:7px 8px;
}
nav ul li a:hover{
    background-color:#eb7620;
    transition:0.5 ease;
}
nav ul li .active{
    background-color:#eb7620;
}
.article{
    width:50%;
    margin:auto;
    text-align:center;
    transform:translateY(25vh);
	color:white;

}
.article h1{
    font-size:36px;
    color:black;
    Letter-spacing:1.5px;
    font-weight: 800;
    margin-bottom: 25px;
    font-family:algerian;

}
.article p{
    font-size:18px;
    color:black;
    Line-height:1.5;
    margin-bottom:50px;
    font-family:chaparral pro Light;
    
}
